<app-post name="Claus" img="../assets/img/0.jpg" time="vor 5 Minuten" text="Lorem ipsum dolor sit amet"></app-post>
<app-post name="Claus" img="../assets/img/1.jpg" time="vor 5 Minuten" text="Lorem ipsum dolor sit amet"></app-post>
<app-post name="Claus" img="../assets/img/2.jpg" time="vor 5 Minuten" text="Lorem ipsum dolor sit amet"></app-post>
<app-post name="Claus" img="../assets/img/3.jpg" time="vor 5 Minuten" text="Lorem ipsum dolor sit amet"></app-post>
<app-post name="Claus" img="../assets/img/4.jpg" time="vor 5 Minuten" text="Lorem ipsum dolor sit amet"></app-post>
