<div class="card">
    <div class="card-left">
      <img class="profile-image" src="./assets/img/0.jpg" alt="">
    </div>
    <div class="card-right">
      <strong>Claus</strong>
      <div class="card-time">vor 5 Minuten</div>
      <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis praesentium quas, dolores tempore voluptatem fugiat obcaecati, veniam magni ipsa ut dolore non quae minima architecto adipisci, illum exercitationem. Doloribus, nam.</div>
    </div>
  </div>
