/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(8, 14, 36);
}

.profile-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
